/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/


.navbar-brand h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 30px !important;
}
.navbar-brand div {
    background: url(../images/daksfirstBlue.png) no-repeat top left;
    display: inline-block;
    height: 45px;
    width: 63px;
    background-size: contain;
}

.background-header .navbar-brand div {
    background: url(../images/daksfirstBlue.png) no-repeat top left;
     display: inline-block;
    height: 45px;
    width: 63px;
    background-size: contain;
}

.navbar-brand span {
    padding-top: 6px;
}

.justify-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
#types ul li a {
    text-transform: capitalize;
    width: 100%;
    padding: 30px 30px;
    display: inline-block;
    background-color: #f7f7f7;
    font-size: 20px;
    color: #aaaaaa;
    letter-spacing: 0.5px;
    font-weight: 700;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#types ul .ui-tabs-active a {
    color: #29b6f6;
}

#types ul li a i {
    float: right;
    margin-top: 5px;
}

.bottom-spacer{
    margin-top: 140px;
    background-color: #f7f7f7;
}

.cookie{
    padding-top: 140px;
}

.soon-info{
    margin-top: 100px;
}

.coming-soon-contact{
    margin-top: 70px;
}

.button-home{
    margin-top: 25px;
}
.gradient1 {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
    height: 100%;
    width: 100%;
}
.gradient3 {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    height: 100%;
    width: 100%;
}
.gradient-adv {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    height: 100%;
    width: 100%;
}
.gradient-inv {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    height: 100%;
    width: 100%;
}
.bg-advisory{
    background: url('../images/bg-advisory.jpg');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.bg-inv{
    background: url('../images/bg-inv.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.bg-contact{
    background: url('../images/contact-title.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.gradient-contact {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    height: 100%;
    width: 100%;
}
.bg-abt{
    background: url('../images/about-title.jpg');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.gradient-abt {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    height: 100%;
    width: 100%;
}
.img-centering{
        padding-top: 30px;
}
.img-centering img{
    -webkit-box-shadow: 0 19px 38px rgba(0,0,0,.3), 0 15px 12px rgba(0,0,0,.22);
    box-shadow: 0 19px 38px rgba(0,0,0,.3), 0 15px 12px rgba(0,0,0,.22);
}
.tabs-content ul {  
    list-style-type: circle;
    line-height: 30px;
    padding-left: 20px;
}
.tabs-content ul li {
    font-size: 14px;
    color: #7a7a7a;
    margin-bottom: 0px;
    
}
.fun-facts .left-image img{
    width: 100%;
    overflow: hidden;
}
.fun-facts .right-content{
    padding: 45px 45px 45px 30px;
}
@media (min-width: 1200px){
    .navbar-expand-lg .container{
        max-width: 100%;
        padding-left: 175px;
        padding-right: 175px;
    }
}
@media (max-width: 992px){
    .login-button{
        margin: 15px 0px !important;
    }
    .option-button{
        margin-top: 20px !important;
    }
    .contact-information{
        margin-top: 30px;
    }
    .callback-form{
        margin-top: 30px;
    }
    .single-services {
	    margin-top: 0px;
    }
    .more-info {
        margin-top: 30px;
    }
    .team {
        margin-top: 30px;
    }
    .single-services .col-md-4{
        display: none!important;
    }
}
@media (min-width: 768px) and (max-width: 992px){
    .col-md-8 {
        -ms-flex: 1;
        flex: 1;
        max-width: 100%;
        margin-top: 30px;
    }
    .about-info .col-md-6 {
        -ms-flex: none;
        flex: none;
        max-width: 100%;
    }
}