
.navbar-brand h2 {
    display: flex;
    font-size: 30px !important;
}
.navbar-brand div {
    background: url(../images/daksfirstBlue.png) no-repeat top left;
    display: inline-block;
    height: 45px;
    width: 63px;
    background-size: contain;
}

.background-header .navbar-brand div {
    background: url(../images/daksfirstBlue.png) no-repeat top left;
     display: inline-block;
    height: 45px;
    width: 63px;
    background-size: contain;
}

.navbar-brand span {
    padding-top: 6px;
}

.justify-center {
    display: flex;
    justify-content: center;
}
#types ul li a {
    text-transform: capitalize;
    width: 100%;
    padding: 30px 30px;
    display: inline-block;
    background-color: #f7f7f7;
    font-size: 20px;
    color: #aaaaaa;
    letter-spacing: 0.5px;
    font-weight: 700;
    transition: all 0.3s;
}

#types ul .ui-tabs-active a {
    color: #29b6f6;
}

#types ul li a i {
    float: right;
    margin-top: 5px;
}

.bottom-spacer{
    margin-top: 140px;
    background-color: #f7f7f7;
}

.cookie{
    padding-top: 140px;
}

.soon-info{
    margin-top: 100px;
}

.coming-soon-contact{
    margin-top: 70px;
}

.button-home{
    margin-top: 25px;
}
@media (max-width: 992px){
    .login-button{
        margin: 15px 0px !important;
    }
    .option-button{
        margin-top: 20px !important;
    }
}